html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #FEC8D8;
  border-bottom: 5px solid  white;
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #FEC8D8;
  background-color: #957DAD;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: auto;
  
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  
}


.display-link a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: purple;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: #c789cd;
  background-color: lavender;
}

body {
  background: url("https://imgs.search.brave.com/YsDJqHA3ADX86AKenfP34DjVr_uhfm4ErEqTBesdJvI/rs:fit:968:1000:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2FkL2Uz/L2Q4L2FkZTNkODVj/ZDQ3MGI0MTk4M2I4/ODI0NGNjMTAyOGZl/LnBuZw");
color: white;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

h4{
  color: white;
}